* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: darkblue;
}

nav {
  max-width: 840px;
  margin: 0 auto;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 10px 0;
  text-decoration: none;
}

main {
  max-width: 840px;
  margin: 20px auto;
}

h1 {
  color: darkblue;
  margin: 20px 0 10px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin-left: 20px;
}

p {
  margin-bottom: 1rem;
}
aside {
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #333;
  padding: 10px;
  background-color: white;
  color: #333;
}
aside img {
  display: block;
  margin: 10px auto;
}

/* Class Selectors */
.box {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #333;
  background-color: whitesmoke;
  color: black;
}

.box ul {
  padding-left: 1.5rem;
}

footer {
  max-width: 840px;
  margin: 20px auto;
  text-align: center;
  font-size: 0.9rem;
}
